@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: "Jost", Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f8f9fa;
    color: #222;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    --primary-color: #dc1136;

    --main-bg: #fff;
    --header-bg: #fff;

    --text-color: #000;
    --text-color-on-primary: #eee;

    --content-width-max: 1200px;
    --content-width-min: 600px;

    &.front-page {
        background: var(--primary-color);
        color: var(--text-color-on-primary);
    }
}

img.index-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.1;
    user-select: none;
}

main {
    flex: 1 1 auto;
    /* width: 100%; */
    /* max-width: var(--content-width-max); */
    /* min-width: var(--content-width-min); */
    /* margin: 0 auto; */
}

/* Float image for about page */
.img-float {
    float: left;
    margin: 1rem;

    max-width: 33%;
    height: auto;

    &.right {
        float: right;
    }
}

div.columns {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    position: relative;

    div.col {
        flex: 0 0 auto;
        position: relative;

        &.xs {
            width: 8.33%;
        }

        &.sm {
            width: 25%;
        }

        &.third {
            width: 33.33%;
        }

        &.md,
        &.half {
            width: 50%;
        }

        &.twothirds {
            width: 66.66%;
        }

        &.lg {
            width: 75%;
        }

        &.xl {
            width: 91.66%;
        }
    }
}

div.row {
    display: flex;
    flex-direction: row;

    width: 100%;
    position: relative;
    justify-content: flex-start;
    align-items: center;

    &.spacebetween {
        justify-content: space-between;
    }

    &.spacearound {
        justify-content: space-around;
    }
}

/* 
 * BUTTON CLASSES
 */

a.action-button {
    padding: 0.75rem 1.5rem;

    background: white;
    color: var(--primary-color);

    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;

    border: none;
    box-shadow: inset 0 0 10px 5px #0004;
    text-decoration: none;
    border-radius: 0.25rem;
    transition: all 0.1s ease;

    &:hover {
        box-shadow: inset 0 0 10px 5px #0002, 0 0 10px 5px #fff4;
    }
}

a.header-contact {
    padding: 0.5rem 1rem;

    font-size: 1rem;

    background: transparent;
    font-weight: bold;
    color: var(--text-color-on-primary);

    border: solid 1px var(--text-color-on-primary);
    border-radius: 0.25rem;

    text-decoration: none;
    transition: all 0.1s ease;
    box-shadow: 0 0 2px 1px #fff1;
    filter: brightness(1);

    &:hover {
        box-shadow: 0 0 10px 5px #fff4;
        filter: brightness(2);
    }
}

/**
 * FORM STYLES
 */

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
}

textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
}

select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
}

button[type="submit"] {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}
