div.contact-info-box {
    box-shadow: var(--cinia-box-shadow-sm);
    padding: calc(var(--cinia-layout-gap) * 1);

    height: 10rem;
    margin-bottom: calc(var(--cinia-layout-gap));

    &.small {
        height: auto;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    h4 {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: calc(var(--cinia-layout-gap) * 1);
    }

    p {
        margin: 0;
        padding: 0;
    }

    img {
        margin: 0;
        padding: 0;
        width: 8rem;
        float: right;
    }
}
