/*************************************************************************************
 *  Flex Row
 */

div.flexrow,
section.flexrow,
article.flexrow,
header.flexrow,
footer.flexrow,
main.flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--cinia-layout-gap);

    &.gap0,
    &.nogap {
        gap: 0;
    }

    &.start {
        justify-content: flex-start;
    }

    &.end {
        justify-content: flex-end;
    }

    &.top {
        align-items: flex-start;
    }

    &.bottom {
        align-items: flex-end;
    }

    &.vertical {
        flex-direction: column;       
    }


    &.gap0_5 {
        gap: calc(var(--cinia-layout-gap) / 2);
    }

    &.gap1 {
        gap: var(--cinia-layout-gap);
    }

    &.gap2 {
        gap: calc(var(--cinia-layout-gap) * 2);
    }

    &.gap3 {
        gap: calc(var(--cinia-layout-gap) * 3);
    }

    &.fullwidth {
        width: 100%;

        &.fill > * {
            flex: 1 1 auto;
        }
    }

    &.fullheight {
        height: 100%;
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.center {
        justify-content: center;
    }

    &.spacebetween {
        justify-content: space-between;
    }

    &.spacearound {
        justify-content: space-around;
    }
}
