form {
    label {
        display: inline-block;

        font-size: var(--cinia-typography-p-fs);
    }

    p {
        margin-bottom: calc(var(--cinia-layout-gap) * 0.5);
        margin-top: calc(var(--cinia-layout-gap) * 1);
        font-size: var(--cinia-typography-p-fs);
        font-weight: 700;
    }
}

input[type="text"],
input[type="email"],
input[type="number"] {
    font-size: var(--cinia-typography-p-fs);

    padding: calc(var(--cinia-layout-gap) * var(--cinia-layout-multip-xs))
        calc(var(--cinia-layout-gap) * var(--cinia-layout-multip-sm));

    border-width: 1px;
    border-style: solid;
    border-color: var(--cinia-color-black);

    display: block;

    &.full-width {
        width: 100%;
    }

    &.lg {
        font-size: calc(var(--cinia-typography-p-fs) * var(--cinia-layout-multip-lg));
        padding: calc(var(--cinia-layout-gap) * var(--cinia-layout-multip-sm))
            calc(var(--cinia-layout-gap) * var(--cinia-layout-multip-md));
    }

    &.xl {
        font-size: calc(var(--cinia-typography-p-fs) * var(--cinia-layout-multip-xl));
        padding: calc(var(--cinia-layout-gap) * var(--cinia-layout-multip-md))
            calc(var(--cinia-layout-gap) * var(--cinia-layout-multip-lg));
    }
}

textarea {
    font-size: var(--cinia-typography-p-fs);

    font-family: var(---cinia-typography-font-family-body);

    padding: calc(var(--cinia-layout-gap) * var(--cinia-layout-multip-xs))
        calc(var(--cinia-layout-gap) * var(--cinia-layout-multip-sm));

    border-width: 1px;
    border-style: solid;
    border-color: var(--cinia-color-black);

    display: block;
    resize: vertical;

    &.full-width {
        width: 100%;
    }

    &.lg {
        font-size: calc(var(--cinia-typography-p-fs) * var(--cinia-layout-multip-lg));
        padding: calc(var(--cinia-layout-gap) * var(--cinia-layout-multip-sm))
            calc(var(--cinia-layout-gap) * var(--cinia-layout-multip-md));
    }

    &.xl {
        font-size: calc(var(--cinia-typography-p-fs) * var(--cinia-layout-multip-xl));
        padding: calc(var(--cinia-layout-gap) * var(--cinia-layout-multip-md))
            calc(var(--cinia-layout-gap) * var(--cinia-layout-multip-lg));
    }
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:not(.as-button) {
    display: inline-block;
    margin-right: calc(var(--cinia-layout-gap) * var(--cinia-layout-multip-sm));
    width: var(--cinia-typography-font-size-base);
    height: var(--cinia-typography-font-size-base);
    margin-bottom: calc(var(--cinia-layout-gap) * var(--cinia-layout-multip-xs));

    &:last-of-type {
        margin-bottom: calc(var(--cinia-layout-gap) * var(--cinia-layout-multip-lg));
    }
}

input[type="radio"].as-button + label {
    
    padding: 0.5em 1.5em;
    border: 2px solid #0077cc;
    border-radius: 4px;
    background: #fff;
    color: #0077cc;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

input[type="radio"]:checked + label {
    background: #0077cc;
    color: #fff;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:not(.as-button) {
    display: inline-block;
    margin-right: calc(var(--cinia-layout-gap) * var(--cinia-layout-multip-sm));
    width: var(--cinia-typography-font-size-base);
    height: var(--cinia-typography-font-size-base);
    margin-bottom: calc(var(--cinia-layout-gap) * var(--cinia-layout-multip-xs));

    &:last-of-type {
        margin-bottom: calc(var(--cinia-layout-gap) * var(--cinia-layout-multip-lg));
    }
}

input[type="checkbox"].as-button + label {
    padding: calc(var(--cinia-layout-gap) * 0.75) var(--cinia-layout-gap);
    margin: 0;

    font-size: var(--cinia-button-fs);
    font-weight: var(--cinia-button-fw);
    text-decoration: none;

    border: 0;

    box-shadow: inset var(--cinia-box-shadow-sm), var(--cinia-box-shadow-sm);

    border-radius: var(--cinia-button-border-radius);
    transition: all 0.1s linear;

    cursor: pointer;
}

input[type="checkbox"]:checked + label {
    background-color: var(--cinia-color-success);
    color: var(--cinia-color-success-inverse);
}
