

.cinia-hero {

    position: relative;
    display: block;
    width: 100%;


    img.hero-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }



    &.h50 {
        height: 50vh;
    }

}